prodotto-kar/src/main/resources/NoPlugin/Schema/DCSanita_FSE_2008-01_ottieniIndiceFascicolo.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/ottieniIndiceFascicolo/" xmlns:sfAm="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/attributi_ambulatoriale/" xmlns:sfRi="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/attributi_ricovero/" xmlns:sfPs="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/attributi_ps/" xmlns:sfFa="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/attributi_farmaci/" xmlns:sdRe="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/attributi_referto/" xmlns:sdPs="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/attributi_psoccorso/" xmlns:sdLd="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/attributi_ldimissione/" xmlns:ll="http://www.crs.lombardia.it/schemas/mw/2004-01/legalContent/" xmlns:m="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/ottieniIndiceFascicolo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="FSE.ottieniIndiceFascicolo">
		<xs:complexType>
			<xs:all>
				<xs:element name="richiestaIndiceFascicolo" type="m:richiestaIndiceFascicoloType"/>
			</xs:all>
			<xs:attribute name="dataSetVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FSE.ottieniIndiceFascicoloResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="param" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="m:rispostaType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="richiestaIndiceFascicoloType">
		<xs:all>
			<xs:element name="cittadino" type="m:cittadinoType"/>
			<xs:element name="nMaxRecord" type="xs:string" minOccurs="0"/>
			<xs:element name="nPagina" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="cittadinoType">
		<xs:all>
			<xs:element name="idCittadino">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="tipo" type="xs:string" use="required" fixed="CF"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="rispostaType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="esitoNegativo" type="m:esitoNegativoType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="nPagine" type="xs:string"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="nPagine" type="xs:string"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="nPagine" type="xs:string"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="nPagine" type="xs:string"/>
				<xs:element name="esitoOttieniIndiceFascicolo" type="m:esitoOttieniIndiceFascicoloType"/>
				<xs:element name="ottieniIndiceFascicolo" type="m:ottieniIndiceFascicoloType" minOccurs="0"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="esitoNegativoType">
		<xs:all>
			<xs:element name="codiceErrore" type="xs:string"/>
			<xs:element name="descErrore" type="xs:string"/>
			<xs:element name="listaEccezioni" type="m:listaEccezioniType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="listaEccezioniType">
		<xs:sequence>
			<xs:element name="eccezione" type="m:eccezioneType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eccezioneType">
		<xs:all>
			<xs:element name="codiceEccezione" type="xs:string"/>
			<xs:element name="descEccezione" type="xs:string"/>
			<xs:element name="nomeCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="valoreCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="descEccezioneCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="codiceEccezioneCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="ROI" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="listaWarningType">
		<xs:sequence>
			<xs:element name="warning" type="m:warningType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="warningType">
		<xs:all>
			<xs:element name="codiceWarning" type="xs:string"/>
			<xs:element name="descWarning" type="xs:string"/>
			<xs:element name="nomeCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="valoreCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="descWarningCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="codiceWarningCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="ROI" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="esitoOttieniIndiceFascicoloType">
		<xs:all>
			<xs:element name="esito" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ottieniIndiceFascicoloType">
		<xs:all>
			<xs:element name="cittadino" type="m:cittadinoOutType"/>
			<xs:element name="indiceFascicolo" type="m:indiceFascicoloType" minOccurs="0"/>
			<xs:element name="eventi" type="m:eventiType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="cittadinoOutType">
		<xs:all>
			<xs:element name="idCittadino"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="indiceFascicoloType">
			<xs:all>
				<xs:element name="listaFolder">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="folder" type="m:folderType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
	</xs:complexType>
	<xs:complexType name="folderType">
		<xs:all>
			<xs:element name="idFolder" type="xs:string"/>
			<xs:element name="idTipoFolder" type="xs:string"/>
			<xs:element name="descrizioneFolder" type="xs:string"/>
			<xs:element name="etichettaFolder" type="xs:string"/>
			<xs:element name="idStatoFolder" type="xs:string"/>
			<xs:element name="idTipoFolderPadre" type="xs:string"/>
			<xs:element name="nLivelloFolder" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="eventiType">
		<xs:all>
			<xs:element name="listaEventi">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="evento" maxOccurs="unbounded">
							<xs:complexType>
								<xs:all>
									<xs:element name="idTipoEvento" type="xs:string"/>
									<xs:element name="descrizioneTipoEvento" type="xs:string"/>
									<xs:element name="idEvento" type="xs:string"/>
									<xs:element name="dataErogazioneEvento" type="xs:string"/>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:sequence>           
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
