prodotto-kar/src/main/resources/NoPlugin/Schema/DCSanita_FSE_2008-01_ricercaEventi.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/ricercaEventi/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:m="http://www.crs.lombardia.it/schemas/DCSanita/FSE/2008-01/ricercaEventi/" xmlns:ll="http://www.crs.lombardia.it/schemas/mw/2004-01/legalContent/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="FSE.ricercaEventi">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="evento" type="m:RicercaEventiType"/>
			</xs:sequence>
			<xs:attribute name="dataSetVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FSE.ricercaEventiResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="param" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="m:rispostaType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RicercaEventiType">
		<xs:all>
			<xs:element name="strutturaErogazione" type="m:strutturaType"/>
			<xs:element name="cittadino" type="m:cittadinoType"/>
			<xs:element name="idTipoEvento" type="xs:string"/>
			<xs:element name="idEvento" type="xs:string" minOccurs="0"/>
			<xs:element name="dataInizio" type="xs:string" minOccurs="0"/>
			<xs:element name="dataFine" type="xs:string" minOccurs="0"/>
			<xs:element name="maxRecords" type="xs:string" minOccurs="0"/>
			<xs:element name="numeroPagina" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="strutturaType">
		<xs:all>
			<xs:element name="idEnte" type="xs:string"/>
			<xs:element name="idPresidio" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="cittadinoType">
		<xs:all>
			<xs:element name="idCittadino">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="tipo" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="rispostaType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="esitoNegativo" type="m:esitoNegativoType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoRicercaEventi" type="m:esitoRicercaEventiType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="ricercaEventi" type="m:ricercaEventiType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoRicercaEventi" type="m:esitoRicercaEventiType"/>
				<xs:element name="ricercaEventi" type="m:ricercaEventiType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="ricercaEventi" type="m:ricercaEventiType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="esitoRicercaEventi" type="m:esitoRicercaEventiType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="ricercaEventi" type="m:ricercaEventiType"/>
				<xs:element name="esitoRicercaEventi" type="m:esitoRicercaEventiType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoRicercaEventi" type="m:esitoRicercaEventiType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
				<xs:element name="ricercaEventi" type="m:ricercaEventiType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="esitoRicercaEventi" type="m:esitoRicercaEventiType"/>
				<xs:element name="ricercaEventi" type="m:ricercaEventiType"/>
				<xs:element name="listaWarning" type="m:listaWarningType" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ricercaEventiType">
		<xs:all>
			<xs:element name="cittadino" type="m:cittadinoResponseType"/>
			<xs:element name="listaEventi" type="m:listaEventiType" minOccurs="0"/>
			<xs:element name="numeroPagine"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="esitoRicercaEventiType">
		<xs:all>
			<xs:element name="esito" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="esitoNegativoType">
		<xs:all>
			<xs:element name="codiceErrore" type="xs:string"/>
			<xs:element name="descErrore" type="xs:string"/>
			<xs:element name="listaEccezioni" type="m:listaEccezioniType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="listaEccezioniType">
		<xs:sequence>
			<xs:element name="eccezione" type="m:eccezioneType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eccezioneType">
		<xs:all>
			<xs:element name="codiceEccezione" type="xs:string"/>
			<xs:element name="descEccezione" type="xs:string"/>
			<xs:element name="nomeCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="valoreCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="descEccezioneCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="codiceEccezioneCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="ROI" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="listaWarningType">
		<xs:sequence>
			<xs:element name="warning" type="m:warningType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cittadinoResponseType">
		<xs:all>
			<xs:element name="idCittadino"/>
			<xs:element name="nomeCittadino" type="xs:string"/>
			<xs:element name="cognomeCittadino" type="xs:string"/>
			<xs:element name="sessoCittadino" type="xs:string"/>
			<xs:element name="dataNascitaCittadino" type="xs:string"/>
			<xs:element name="idComuneNascitaCittadino" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="warningType">
		<xs:all>
			<xs:element name="codiceWarning" type="xs:string"/>
			<xs:element name="descWarning" type="xs:string"/>
			<xs:element name="nomeCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="valoreCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="descWarningCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="codiceWarningCampo" type="xs:string" minOccurs="0"/>
			<xs:element name="ROI" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="eventoSpecialisticoType">
		<xs:all>
			<xs:element name="IUP" minOccurs="0"/>
			<xs:element name="numeroCartellaAmbulatoriale" minOccurs="0"/>
			<xs:element name="idPrescrizioneRUR" minOccurs="0"/>
			<xs:element name="dataPrescrizione" minOccurs="0"/>
			<xs:element name="codiceDiagnosi" minOccurs="0"/>
			<xs:element name="quesitoDiagnostico" minOccurs="0"/>
			<xs:element name="idProvenienzaPaziente" minOccurs="0"/>
			<xs:element name="idClassePriorita" minOccurs="0"/>
			<xs:element name="idRegimeErogazione" minOccurs="0"/>
			<xs:element name="idEsenzione" minOccurs="0"/>
			<xs:element name="medicoRichiedente" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="codiceFiscale"/>
						<xs:element name="codiceRegionale"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="idTipoPrestazione" minOccurs="0"/>
			<xs:element name="dataAccettazione" minOccurs="0"/>
			<xs:element name="dataPrenotazione" minOccurs="0"/>
			<xs:element name="prestazioniAssociate" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="prestazione" maxOccurs="unbounded">
							<xs:complexType>
								<xs:all>
									<xs:element name="idPrestazioneSISS"/>
									<xs:element name="flagAggiuntiva"/>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="eventoRicoveroType">
		<xs:all>
			<xs:element name="numeroNosologico" minOccurs="0"/>
			<xs:element name="dataOraRicovero" minOccurs="0"/>
			<xs:element name="idRepartoRicovero" minOccurs="0"/>
			<xs:element name="datiAccettazione" type="m:datiAccettazioneType" minOccurs="0"/>
			<xs:element name="datiDimissione" type="m:datiDimissioneType" minOccurs="0"/>
			<xs:element name="elencoTrasferimenti" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="trasferimento" type="m:trasferimentoType" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="eventoProntoSoccorsoType">
		<xs:all>
			<xs:element name="numeroPraticaPS" minOccurs="0"/>
			<xs:element name="dataOraIngresso" minOccurs="0"/>
			<xs:element name="datiAccettazione" type="m:datiAccettazionePSType" minOccurs="0"/>
			<xs:element name="datiDimissione" type="m:datiDimissionePSType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="listaEventiType">
		<xs:sequence minOccurs="0">
			<xs:element name="evento" maxOccurs="unbounded">
				<xs:complexType>
					<xs:all>
						<xs:element name="eventoSpecialistico" type="m:eventoSpecialisticoType" minOccurs="0"/>
						<xs:element name="eventoRicovero" type="m:eventoRicoveroType" minOccurs="0"/>
						<xs:element name="eventoProntoSoccorso" type="m:eventoProntoSoccorsoType" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datiAccettazioneType">
		<xs:all>
			<xs:element name="idRegimeRicovero"/>
			<xs:element name="idTipoRicovero" type="xs:string"/>
			<xs:element name="idProvenienzaPaziente" type="xs:string"/>
			<xs:element name="idOnereDegenza" type="xs:string"/>
			<xs:element name="idModalitaTrauma" type="xs:string"/>
			<xs:element name="numeroPrericovero" type="xs:string"/>
			<xs:element name="dataOraPrericovero"/>
			<xs:element name="IUP"/>
			<xs:element name="descrizioneDiagnosiIngresso"/>
			<xs:element name="codiceDiagnosiIngresso"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="datiDimissioneType">
		<xs:all>
			<xs:element name="dataOraDimissione"/>
			<xs:element name="idRepartoDimissione"/>
			<xs:element name="idModalitaDimissione"/>
			<xs:element name="codiceDiagnosiPrincipaleDimissione"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="trasferimentoType">
		<xs:all>
			<xs:element name="dataTrasferimento"/>
			<xs:element name="idRepartoOrigine"/>
			<xs:element name="idRepartoDestinazione"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="datiAccettazionePSType">
		<xs:all>
			<xs:element name="idModalitaTrauma"/>
			<xs:element name="idDisciplina"/>
			<xs:element name="idClassePrioritaTriage"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="datiDimissionePSType">
		<xs:all>
			<xs:element name="dataOraUscita"/>
			<xs:element name="idModalitaDimissione"/>
			<xs:element name="codiceDiagnosiDimissione"/>
			<xs:element name="prognosi"/>
			<xs:element name="noteDimissione"/>
			<xs:element name="elencoPrestazioni" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="prestazione" maxOccurs="unbounded">
							<xs:complexType>
								<xs:all>
									<xs:element name="idPrestazioneSISS"/>
									<xs:element name="quantitaErogata"/>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
